<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>
<div class="container">
  <div class="gallery"></div>
</div>

<div class="p-4">
  <h1>Movies</h1>
  <div id="movies" class="row no-gutters"></div>

  <button class="previous hidden">pre</button>
  <div id="pagination" class="row no-gutters"></div>
  <button class="next hidden">next</button>
</div>

<div class="movie-card"></div>
